html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.autocomplete-input {
    border-radius: 4px;
    border-width: 2px;
    border-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.leaflet-popup-content {
    width: auto !important;
    min-width: 138px;
}

.transparent-tooltip {
    color: #E5E5E5;
    background: #333;
    opacity: 0.1;
    font-weight: 800;
    font-size: smaller;
    padding: 1px 4px;
    box-shadow: none;
}

.transparent-tooltip::before {
    border: none;
}