<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://grafelgam-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/693bd3f6-7c37-4a55-9bee-ef6a66d5c745/resourceGroups/grafelgam/providers/Microsoft.Web/sites/grafelgam-api</ResourceId>
    <UserName>$grafelgam-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://grafelgam-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>